
.content {
    max-width: 500px;
    margin: auto;
}

.header {
    background: #ebebeb;
    text-align: center;
}

body {
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

.topnav {
    overflow: hidden;
    background: #ebebeb;
    margin: 0 0 1em 0;
	padding: 10px;
    border-bottom: 1px solid #ccc;
}

#section {
    float: left;
    padding: 10px;
    width: 495px;
    margin: 0 0 0 0;
    height: 300px;
    background: #ebebeb;
}

.article {
    float: left;
    padding: 10px;
    width: 470px;
    margin: 0 0 0 0;
    height: 200px;
    background: #915555;
}

.content-box { 
    box-sizing: content-box; 
    Total width: 216px
    Total height: 136px
    Content box width: 160px
    Content box height: 80px
  }

.aside {
    float: right;
    padding: 10px;
    width:400px;
    height: 300px;
    background: #ebebeb;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    height: 50px;
    width: 960px;
    text-align: center;
    background: #ebebeb;
    position: absolute;
    bottom: 410px;
}


